// / 1. Colors
$color-main: #05a66b;
// $color-main: #f22e3e;
$color-shade: #162032;
$color-tint: #f5eddf;
$color-accent: #3a95e8;
$color-text: #403b39;
$color-grey: #d0d9d4;
$color-grey--dark: #b2bebf;
$color-testing: orangered;

// 2. Font size
$text-header-main: 6.4rem;
$text-header-sub: 4.8rem;
$text-big: 3.6rem;
$text-emphasize: 2.4rem;
$text-standard: 2rem;
$text-small: 1.6rem;
$text-mini: 1.2rem;
$text-supersmall: 0.8rem;

// 3. Whitespace
$space-big: 12.8rem;
$space-widegap: 8.4rem;
$space-decent: 7.2rem;
$space-margin: 5.6rem;
$space-standard: 4.8rem;
$space-gap: 3.6rem;
$space-sub: 2.8rem;
$space-small: 1.6rem;
$space-mini: 1.2rem;
$space-supersmall: 0.6rem;

// 4. Screen Width
$max-width: 52.5rem;
